/*GENERALES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.contenedor{
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.titulo-seccion{
  text-align: center;
  margin-bottom: 40px;
}

.titulo-seccion h2{
  color: #0089E0;
  font-size: 3.125rem;
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 1.0; 
}

.titulo-seccion p{
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
}

/*Boton Volver Arriba*/
.btn-volver-arriba{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 30%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  margin-right: -60px;
  transition: all .4s ease;
}

.btn-volver-arriba a{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  text-align: center;
}

.btn-volver-arriba a i{
  font-size: 1rem;
  color: #fff;
  line-height: 40px;
}

/* ------ ENCABEZADO ------ */

.menu-bar-pc{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255,255,255, 0.15);
  padding: 0 36px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.logo{
  display: inline-block;
  width: 50px;
}

.logo img{
  width: 100%;
  vertical-align: top;
}

.menu-principal a, .top-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #444444;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

.menu-principal a:hover, .top-redes a:hover{
  color: #0089E0;
}

.idiomas {
  display: inline-block;
}

.idiomas a {
  display: inline-flex;
  width: 25px;
  padding: 0;
  vertical-align: text-bottom;
  margin-left: 5px;
}

.idiomas img {
  width: 100%;
}

.menu-principal a:last-child, .top-redes a:last-child{
  padding-right: 0;
}

.top-redes a i{
  font-size: 1rem;
}

.botonDonar {
  padding: 10px;
  background-color: #FFD241;
  border-radius: 15px;
}

.botonDonar a {
  text-decoration: none;
  color: #444444;
}

.fixed-header{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204,204,204,0.5);
  padding: 0 36px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}

.fixed-header .menu-principal a, .fixed-header .top-redes a{
  color: #444444;
}

.fixed-header .menu-principal a:hover, .top-redes a:hover{
  color: #0089E0;
}

/*Mobile menu*/
.menu-mobile{
  display: none;
}

/* Menu Desplegable */

.menu-desplegable {
  position: absolute;
  top: 80px;
  left: 0;
  display: none;
  z-index: 1000;
  background: red;
}

.menu-desplegable .menu-contenedor {
  background-color: #FFF;
  text-align: center;
  width: 200px;
}

.menu-desplegable .menu-contenedor a {
  display: block;
  padding: 0 10px;
  color: #444444;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.976rem;
  letter-spacing: 0;
  line-height: 1.8em;
  border-bottom: 1px solid #444444;
}

.menu-desplegable .menu-contenedor a:hover{
  color: #0089E0;
}

/* ------ MAIN ------ */

.main{
  width: 100%;
}

/*Banner principal*/

.main .banner-principal{
  width: 100%;
  display: inline-block;
}

.main .banner-principal .banner {
  background-image: url('../img/banner-2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------------------------*/
.banner-slider {
  width: 100%;
  overflow: hidden;
}

.banner-slider .sliders {
  width: 600%;
  display: flex;
  padding: 0;
}

.banner-slider .sliders .slide {
  width: 100%;
}

.banner-slider .sliders .slide  img {
  width: 100%;
}



/*--------------------------------------*/

.main .banner-principal .texto-banner{
  display: inline-block;
  width: 25%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}

.main .banner-principal .texto-banner h2{
  font-weight: 500;
  color: #444444;
  margin-bottom: 20px;
}

.main .banner-principal .texto-banner h1{
  font-size: 6.0625rem;
  font-weight: 700;
  line-height: 90px;
  color: #444444;
  margin-bottom: 30px;
}

.main .banner-principal .texto-banner a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  background: #0089E0;
  color: #fff;
  transition: all .7s ease;
}

.main .banner-principal .texto-banner a:hover{
  background: #fff;
  color: #0089E0;
  border:3px solid #0089E0;
}

/*Proyectos*/

.main .proyectos{
  background: #F3F4FA;
  padding: 54px 0 54px 0;
}

.main .proyectos .galeria-proyectos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 1px solid #ccc;
}

.main .proyectos .galeria-proyectos .proyecto{
  width: 32%;
  margin-bottom: 2%;
  cursor: pointer;
}

.main .proyectos .galeria-proyectos .proyecto img{
  width: 100%;
  vertical-align: top;
}

/* Links */

.main .link-proyectos {
  background: #F3F4FA;
}

.main .link-proyectos .link-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 34px;
  border-bottom: 1px solid #ccc;
}

.main .link-proyectos .link-contenedor .link-box {
  width: 10%;
  text-align: center;
  cursor: pointer;
}

.main .link-proyectos .link-contenedor .link-box p {
  text-align: center;
}

.main .link-proyectos .link-contenedor .link-box:hover {
  color: #0089E0;
}

.main .link-proyectos .link-contenedor .link {
  width: 100%;
  margin: 2%;
  border-radius: 100%;
  text-align: center;
}

.main .link-proyectos .link-contenedor .link:hover {
  border: 1px solid #FFF;
}

#Salud{
  background: #C86EBE;
}

#Cultura {
  background: #FF828C;
}

#Primera-infancia {
  background: #FFAA64;
}

#Economia-popular {
  background: #FFD241;
}

#Medio-ambiente {
  background: #72D282;
}

#Capacitación-de-oficio {
  background: #009BD2;
}

.main .link-proyectos .link-contenedor .link img {
  width: 90%;
  padding: 15px;
  padding-top: 20px;
}

/*Noticias*/

.contenedor-noticias {
  background-color: #F3F4FA;
  padding: 50px 0;
}

.verMasNoticias  {
  padding: 50px 0;
  width: 100%;
  text-align: right;
}

.verMasNoticias a {
  color: #0089E0;
  cursor: pointer;
  pointer-events: none;
}

#verMenosNoticias {
  display: none;
}


.noticias {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;
}

.noticia {
  width: 30%;
  padding: 10px;
}

.noticia  img {
  width: 100%;
}

.noticia h3 {
  font-size: 1.5rem;
}

.noticia p {
  color: #979797;
  font-size: 0.7rem;
  font-weight: 400;
  height: 120px;
}

.noticiasOcultas {
  display: none;
  overflow: scroll;
  height: 600px;
  max-height: 600px;
}

.noticiasOcultas::-webkit-scrollbar {
    -webkit-appearance: none;
}
.noticiasOcultas::-webkit-scrollbar:vertical {
    width:10px;
}

.noticiasOcultas::-webkit-scrollbar-button:increment,.noticiasOcultas::-webkit-scrollbar-button {
    display: none;
} 

.noticiasOcultas::-webkit-scrollbar:horizontal {
    height: 10px;
}

.noticiasOcultas::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.noticiasOcultas::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/*Donaciones*/


.donaciones {
  width: 100%;
  background: #F3F4FA;
}

.donaciones .caja-botones {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.donaciones .caja-botones .boton {
  margin:  0 20px;
  width: 200px;
}

.donaciones .caja-botones .boton img {
  width: 100%;
}

.donaciones .caja-botones .boton img:hover {
  filter: hue-rotate(-180deg); 
}

/*Apoyo*/

.main .apoyo {
  width: 100%;
  background: #F3F4FA;
  padding-bottom: 10px;
}

.main .apoyo h3 {

  text-align: center;
  color: #444444;
  font-size: 30px;
  width: 100%;
  padding-bottom: 50px;
}

.main .apoyo .lista-colaboradores {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
}

.main .apoyo .lista-colaboradores .imagen-colaborador {
  width: 15%;
  margin: 10px;
}

.main .apoyo .lista-colaboradores .imagen-colaborador img {
  width: 100%;
}

.main .apoyo .caja-colaboradores {
  width: 100%;
  overflow: hidden;
  background: #F3F4FA;
  padding: 54px 0;
}


.main .apoyo .caja-colaboradores .colaboradores {
  width: 400%;
  display: flex;
  padding: 0;
}

.main .apoyo .caja-colaboradores .colaboradores .colaborador {
  width: 100px;
  margin-right: 50px;
}

.main .apoyo .caja-colaboradores .colaboradores .colaborador img {
  width: 100%;
  vertical-align: top;
}

/*Modal fotos proyectos*/
.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999999999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img{
  width: 90%;
  max-width: 600px;
}

.modal .btn-cerrar{
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  background: #0089E0;
  text-align: center;
  cursor: pointer;
}

.modal .btn-cerrar i{
  color: #fff;
  font-size: 1rem;
  line-height: 50px;
}

/*Acerca de*/

.main .acerca-de{
  background: #F3F4FA;
  padding: 50px 0;
}

.main .acerca-de .contenedor .titulo-seccion p {
  text-align: justify;
}

.main .acerca-de .contenedor .titulo-seccion p:last-child {
  text-align: center;
}

.main .acerca-de .contenedor .titulo-seccion nav {
  margin-top: 30px;
}


.main .acerca-de .contenedor .titulo-seccion a {
  color: #0089E0;
  margin: 0 10px;
  font-size: 20px;
}

.main .acerca-de .contenedor .contadores {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 100px;
}

.main .acerca-de .contenedor .contador {
  text-align: center;
  width: 200px;
}

.main .acerca-de .contenedor .contador .valor {
  margin-top: 20px;
  font-size:25px;
  font-weight:bold;
}

.main .acerca-de .contenedor .contador i {
  color: #0089E0;
  font-size: 50px;
}

.main .acerca-de .contenedor .contador p {
  color: #979797;
}

/*Slider*/

.main .contenedor-slider{
  width: 100%;
  overflow: hidden;
  background: #F3F4FA;
  padding: 54px 0;
  position: relative;
}

.main .contenedor-slider .slider{
  width: 400%;
  display: flex;
}

.main .contenedor-slider .slider .slide{
  width: 15%;
  max-width: 950px;
  margin-right: 0.7%;
  box-shadow: 0px 20px 40px #aaa;
}

.main .contenedor-slider .slider .slide img{
  width: 100%;
  vertical-align: top;
}

.main .contenedor-slider .btn-anterior, .main .contenedor-slider .btn-siguiente{
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.main .contenedor-slider .btn-anterior{
  left: 2%;
}

.main .contenedor-slider .btn-siguiente{
  right: 2%;
}

.main .contenedor-slider .btn-anterior i, .main .contenedor-slider .btn-siguiente i{
  color: #fff;
}

.main .contenedor-slider .btn-anterior i:hover, .main .contenedor-slider .btn-siguiente i:hover{
  color: #0089E0;
}

/*Sección información extra*/

.main .info-extra{
  background: #191919;
  padding: 130px 0;
}

.main .info-extra .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main .info-extra .contenedor .info{
  width: 50%;
}

.main .info-extra .contenedor .info .contenido-info{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.main .info-extra .contenedor .info .contenido-info:first-child{
  margin-bottom: 30px;
}

.main .info-extra .contenedor .info .contenido-info .icono-info{
  width: 5%;
}

.main .info-extra .contenedor .info .contenido-info .icono-info i{
  font-size: 1.5rem;
  color: #fff;
}

.main .info-extra .contenedor .info .contenido-info .texto-info{
  margin-left: 3%;
}

.main .info-extra .contenedor .info .contenido-info .texto-info h4{
  font-size: 1.875rem;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.main .info-extra .contenedor .info .contenido-info .texto-info p{
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
}

.main .info-extra .contenedor .foto{
  width: 50%;
  height: 300px;
  box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.5);
  background-image: url('../img/info-foto.jpg');
  background-position: center;
  background-size: cover;
}

/*Contacto*/

.main .contacto{
  padding: 190px 0;
  /*background-image: url('../img/bg-contacto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background-color: #009BD2; /* FFD241 009BD2*/
}

.main .contacto .contenedor-formulario{
  width: 1000px;
  margin: auto;
  background: #fff;
  min-height: 485px;
  border-radius: 3px;
  box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
}

.main .contacto .contenedor-formulario .formulario{
  width: 100%;
  padding: 70px;
}

.main .contacto .contenedor-formulario .formulario h2{
  font-size: 1.375rem;
  line-height: 24px;
  color: #0089E0;
  font-weight: 500;
  margin-bottom: 10px;
}

.main .contacto .contenedor-formulario .formulario p{
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.main .contacto .contenedor-formulario .formulario form input[type="text"], .main .contacto .contenedor-formulario .formulario form input[type="email"]{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  color: #979797;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.main .contacto .contenedor-formulario .formulario form textarea{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  outline: none;
  width: 100%;
  max-width: 100%;
  max-height: 88px;
  min-height: 88px;
  color: #979797;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
}

.main .contacto .contenedor-formulario .formulario form input[type="submit"]{
  width: 100%;
  border: none;
  border: 1px solid #0089E0;
  padding: 8px;
  background: #0089E0;
  color: #fff;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all .7s ease;
}

.main .contacto .contenedor-formulario .formulario form input[type="submit"]:hover{
  background: #fff;
  color: #0089E0;
}

.main .contacto .contenedor-formulario .foto{
  width: 50%;
  background-image: url('../img/foto-contacto.jpg');
  background-size: cover;
}

/*Validacion formulario*/

.main .contacto .contenedor-formulario .formulario form .error{
  display: none;
  color: #ff8c8c;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

@media screen and (max-width:1040px){
  /*Nuestro equipo*/
  .main .nuestro-equipo .titulo-seccion{
    margin-bottom: 60px;
  }
  .main .nuestro-equipo .equipo .persona-equipo{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
  }
  .main .nuestro-equipo .equipo .persona-equipo:first-child{
    top: -20px;
  }
  .main .nuestro-equipo .equipo .persona-equipo .foto{
    margin-right: 20px;
  }

  /*Link*/

  .main .link-proyectos .link-contenedor .link-box {
    width: 15%;
  }

  /*Sección información extra*/
  .main .info-extra .contenedor .info{
    width: 100%;
  }
  .main .info-extra .contenedor .foto{
    display: none;
  }
}

@media screen and (max-width: 900px){
  /*Encabezado*/
  .menu-bar-pc{
    display: none;
  }

  .menu-mobile{
    display: block;
    width: 100%;
    padding: 5px 18px;
    background: #fff;
    color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .menu-mobile .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-mobile .barra .logo{
    width: 40px;
  }
  .menu-mobile .barra a i{
    font-size: 1.4rem;
    color: #444444;
  }

  .menu-mobile .menu-principal{
    width: 80%;
    display: block;
    position: fixed;
    top: 56px;
    left: -100%;
    border-bottom: 1px solid rgba(204,204,204,0.5);
    border-right: 1px solid rgba(204,204,204,0.5);
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2);
    background: #fff;
    text-align: center;
  }

  .menu-mobile .menu-principal a{
    display: block;
    padding: 10px;
    color: #444444;
    border-bottom: 1px solid rgba(204,204,204,0.5);
  }

  .menu-mobile .menu-principal a:hover{
    background: #f7f7f7;
  }
  .fixed-header{
    display: none;
  }

  /*Main*/
  .main{
    margin-top: 0;
  }

  /*Banner*/

  .banner-principal {
    display: none;
  }

  /*Link*/

  .main .link-proyectos .link-contenedor .link-box p {
    font-size: 10px;
  }

  /*Acerca de*/
  .main .acerca-de .contenedor .titulo-seccion, .main .acerca-de .contenedor .texto-acerca-de{
    width: 100%;
    text-align: center;
  }

  /*Contador*/

  .main .acerca-de .contenedor .contadores {
    flex-wrap: wrap;
    justify-content: center;
  }

  /*Apoyo*/

  .main .apoyo .lista-colaboradores .imagen-colaborador {
    width: 40%;
  }

  .main .apoyo .caja-colaboradores {
    display: none;
  }

  /*Contacto*/
  .main .contacto .contenedor-formulario .formulario{
    width: 100%;
    text-align: center;
  }

  .main .contacto .contenedor-formulario .foto{
    display: none;
  }

  .main .contacto .contenedor-formulario .formulario form input[type="text"], .main .contacto .contenedor-formulario .formulario form input[type="email"], .main .contacto .contenedor-formulario .formulario form textarea{
    text-align: center;
  }
}

@media screen and (max-width:550px){
  /*Banner principal*/
  .main .banner-principal {
    display: none;
  }
  /*Titulo secciones*/
  .titulo-seccion h2{
    font-size: 2.125rem;
  }
  /*Proyectos*/
  .main .proyectos .galeria-proyectos .proyecto{
    width: 49%;
  }

  /*Link*/

  .main .link-proyectos .link-contenedor {
    display: flex;
    padding: 14px;
  }

  .main .link-proyectos .link-contenedor .link-box {
    width: 30%;
    margin-top: 10px;
  }


  /*Nuestro equipo*/
  .main .nuestro-equipo .equipo .persona-equipo{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /*Sección información extra*/
  .main .info-extra .contenedor .info .contenido-info{
    flex-wrap: wrap;
    text-align: center;
  }
  .main .info-extra .contenedor .info .contenido-info .icono-info{
    width: 100%;
    margin-bottom: 25px;
  }
  .main .info-extra .contenedor .info .contenido-info .icono-info i{
    font-size: 3.5rem;
  }
  .main .info-extra .contenedor .info .contenido-info .texto-info{
    margin-left: 0;
  }
  .main .info-extra .contenedor .info .contenido-info .texto-info h4{
    font-size: 1.175rem;
  }
  .main .info-extra .contenedor .info .contenido-info:first-child{
    margin-bottom: 40px;
  }
  /*Contacto*/
  .main .contacto .contenedor-formulario .formulario{
    padding: 70px 40px;
  }

  /* ------ PIE DE PÁGINA ------ */
  .footer {
    flex-wrap: wrap;
  }

  .footer .footer-nosotros ,.footer .footer-proyectos {
    display: none;
  }

  .footer .footer-contactos {
    width: 100%;
  }

}
