/*GENERALES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
}

/*Cabeza*/

.cabeza {
	width: 100%;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 	align-items: center;
 	padding: 10px 30px;
 	background: #1182CA;
}

.cabeza .imagen-cabeza {
	background: #FFF;
	border-radius: 100%;
	width: 130px;
	text-align: center;
}

.cabeza .imagen-cabeza img {
	
	padding: 15px;
  	padding-top: 20px;
	width: 90%;
}

.cabeza h2 {
	display: flex;
	color: #FFF;
	font-size: 100px;	
}

/*Main*/

.main {
	/*background: #F3F4FA;*/
}

/*Apartado*/

.apartado {
	padding: 30px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
}

.apartado .parrafo {
	margin-top: 5px;
	width: 100%;
	font-family: 'Poppins', sans-serif;
  	font-size: 16px;
}

.apartado .parrafo h3 {
  	font-size: 20px;
  	color: #444444;
}

.apartado .parrafo p {
	text-align: justify;
	color: #444444;
}

.apartado .parrafo .imagen {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.apartado .parrafo .imagen img {
	width: 50%;
}

.apartado .parrafo .imagen-double {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.apartado .parrafo .imagen-double img {
	width: 45%;
}


.apartado .parrafo .parrafo-imagen {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.apartado .parrafo .textoIzquierdo { 
	width: 45%;
}

.apartado .parrafo .parrafo-imagen .imagenDerecha {
	width: 45%;
}

.apartado .parrafo .parrafo-imagen .imagenDerecha img {
	width: 100%;
	margin: 0;
}



/*Cultura*/

#Salud-cabeza {
	background: #C86EBE;
}

#Salud-menu a:hover, #Salud-menu .top-redes a:hover{
  color: #C86EBE;
}

/*Cultura*/

#Cultura-cabeza {
	background: #FF828C;
}

#Cultura-menu a:hover, #Cultura-menu .top-redes a:hover{
  color: #FF828C;
}

/*Infancia*/

#Infancia-cabeza {
	background: #FFAA64;
}

#Infancia-menu a:hover, #Infancia-menu .top-redes a:hover{
  color: #FFAA64;
}

/*Economia*/

#Economia-cabeza {
	background: #FFD241;
}

#Economia-menu a:hover, #Economia-menu .top-redes a:hover{
  color: #FFD241;
}

/*Ambiente*/

#Ambiente-cabeza {
	background: #72D282;
}

#Ambiente-menu a:hover, #Ambiente-menu .top-redes a:hover{
  color: #72D282;
}

/*Oficios*/

#Oficios-cabeza {
	background: #009BD2;
}

#Oficios-menu a:hover, #Oficios-menu .top-redes a:hover{
  color: #009BD2;
}
/*
#Seccion-oficios .apartado img {
	border: 15px solid #009BD2;
}*/

/*Responsive*/

@media screen and (max-width:1040px) {

	.cabeza .imagen-cabeza {
		width: 90px;
	}

	.cabeza h2 {
		font-size: 60px;
	}

	.apartado .texto-imagen {
		width: 400px;
		margin-top: 25px;
	}

	.apartado .texto-simple {
		margin-top: 25px;
	}

	.apartado img {
		margin: 15px;
		margin-top: 50px;
	}

}

@media screen and (max-width: 900px) {
	
	.apartado .parrafo .imagen-double {
		justify-content: center;
	}

	.apartado .parrafo .imagen-double img {
		margin: 10px;
	}

	.apartado .parrafo .parrafo-imagen {
		display: block;

	}

	.apartado .parrafo .textoIzquierdo , .apartado .parrafo .parrafo-imagen .imagenDerecha {
		width: 100%;
	}


}
