/*ENCABEZADO*/

.encabezado {
	position: relative;
	z-index: 100;
	width: 100%;
	padding: 10px;
}

.encabezado .encabezado-titulo {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #FFF;
	padding: 10px 30px;
	border-bottom: 1px solid #444;
}

.encabezado .encabezado-titulo .titulo-imagen {
	width: 100px;
}

.encabezado .encabezado-titulo .titulo-imagen img {
	width: 100%;
}


.encabezado .encabezado-titulo .titulo-titulo {

}

.encabezado .encabezado-titulo .titulo-titulo h1 {
	font-size: 80px;
	color: #0089E0;
}

.encabezado-nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
}

.encabezado-nav .nav-items {
	width: 50%;
}

.encabezado-nav .nav-items a {
	text-decoration: none;
	margin-right: 30px;
	color: #444;
}

.encabezado-nav .nav-items a:hover {
	color: #0089E0;
}

/*MAIN*/

.main {
	width: 100%;
	margin: 100px 0;
}

.main h3 {
	width: 100%;
	font-size: 32px;
	color: #0089E0;
}

.main h4 {
	width: 100%;
	font-size: 22px;
	color: #0089E0;
}

.main p {
	text-align: justify;
	font-size: 18px;
}

.main strong {
	color: #0089E0;
	font-size: 18px;
}

.imagen {
	width: 50%;
	text-align: center;
	margin: 50px auto;
}

.imagen img {
	width: 100%
}

.texto-foto {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.texto-foto .texto {
	width: 57%;
}

.texto-foto .foto {
	margin-top: 30px;
	width: 40%;
}

.texto-foto .foto img {
	width: 100%;
}

.texto-foto .texto h4 , .texto-xl h4 {
	margin-top: 30px;
}

/*COLOR*/

/*Salud*/
#Salud .encabezado-nav .nav-items a:hover {
	color: #C86EBE;
}

#Salud .encabezado .encabezado-titulo .titulo-titulo h1 {
	color: #C86EBE;
}

#Salud .main strong , #Salud .main h4 {
	color: #C86EBE;
}

#Salud .footer .redes-sociales a:hover {
	color: #C86EBE;
}

#Salud .footer .atajos  .atajo-nosotros .boton a:hover {
	border: 1px solid #C86EBE;
	color: #C86EBE;
}

/*Oficios*/

#Oficios .encabezado-nav .nav-items a:hover {
	color: #009BD2;
}

#Oficios .encabezado .encabezado-titulo .titulo-titulo h1 {
	color: #009BD2;
}

#Oficios .main strong , #Oficios .main h4 {
	color: #009BD2;
}

#Oficios .footer .redes-sociales a:hover {
	color: #009BD2;
}

#Oficios .footer .atajos  .atajo-nosotros .boton a:hover {
	border: 1px solid #009BD2;
	color: #009BD2;
}

/*Cultura*/
#Cultura .encabezado-nav .nav-items a:hover {
	color: #FF828C;
}

#Cultura .encabezado .encabezado-titulo .titulo-titulo h1 {
	color: #FF828C;
}

#Cultura .main strong , #Cultura .main h4 {
	color: #FF828C;
}

#Cultura .footer .redes-sociales a:hover {
	color: #FF828C;
}

#Cultura .footer .atajos  .atajo-nosotros .boton a:hover {
	border: 1px solid #FF828C;
	color: #FF828C;
}

/*Economia*/
#Economia .encabezado-nav .nav-items a:hover {
	color: #FFD241;
}

#Economia .encabezado .encabezado-titulo .titulo-titulo h1 {
	color: #FFD241;
}

#Economia .main strong , #Economia .main h4 {
	color: #FFD241;
}

#Economia .footer .redes-sociales a:hover {
	color: #FFD241;
}

#Economia .footer .atajos  .atajo-nosotros .boton a:hover {
	border: 1px solid #FFD241;
	color: #FFD241;
}

/*Ambiente*/
#Ambiente .encabezado-nav .nav-items a:hover {
	color: #72D282;
}

#Ambiente .encabezado .encabezado-titulo .titulo-titulo h1 {
	color: #72D282;
}

#Ambiente .main strong , #Ambiente .main h4 {
	color: #72D282;
}

#Ambiente .footer .redes-sociales a:hover {
	color: #72D282;
}

#Ambiente .footer .atajos  .atajo-nosotros .boton a:hover {
	border: 1px solid #72D282;
	color: #72D282;
}

/*Infancia*/
#Infancia .encabezado-nav .nav-items a:hover {
	color: #FFAA64;
}

#Infancia .encabezado .encabezado-titulo .titulo-titulo h1 {
	color: #FFAA64;
}

#Infancia .main strong , #Infancia .main h4 {
	color: #FFAA64;
}

#Infancia .footer .redes-sociales a:hover {
	color: #FFAA64;
}

#Infancia .footer .atajos  .atajo-nosotros .boton a:hover {
	border: 1px solid #FFAA64;
	color: #FFAA64;
}

/*Nuestro equipo*/

.main .nuestro-equipo {
	padding-top: 20px;
	padding-bottom: 50px;
}

.main .nuestro-equipo .equipo {
	width: 100%;
}

.main .nuestro-equipo .equipo .persona-equipo {
	margin-top: 50px;
	padding: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #979797;
}

.main .nuestro-equipo .equipo .persona-equipo .foto {
	width: 50%;
	max-width: 200px;
	display: inline-block;
	margin-bottom: 10px;
}

.main .nuestro-equipo .equipo .persona-equipo .texto {
	width: 100%;
	margin-left: 20px;
}

.main .nuestro-equipo .equipo .persona-equipo .foto img {
	width: 100%;
	border-radius: 100%;
}

#Mariana {
 	border: 7px solid  #FF828C;
}

#Rodrigo {
 	border: 7px solid  #FFD241;
}

#Marina {
 	border: 7px solid  #72D282;
}

#Matias {
 	border: 7px solid  #009BD2;
}

#Guadalupe {
 	border: 7px solid  #FFAA64;
}

#Antonella {
 	border: 7px solid  #C86EBE;
}


.main .nuestro-equipo .equipo .persona-equipo .texto h3 {
	font-size: 1.3rem;
	font-weight: 500;
	color: #0089E0;
}

.main .nuestro-equipo .equipo .persona-equipo .texto h4 {
	color: #979797;
	font-size: 0.8rem;
	font-weight: 400;
	margin-bottom: 15px;
}

.main .nuestro-equipo .equipo .persona-equipo .texto p {
	color: #979797;
	font-size: 0.9rem;
	font-weight: 400;
}

/*Iframe*/

.iframe {
	display: none;
	margin: 50px 0;
}

/*Carpetas*/

.carpeta {
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
}

.carpeta .seccion-archivo {
	margin-top: 50px;
	width: 25%;
}

.carpeta .seccion-archivo .archivo {
	margin-top: 30px;
	width: 80px;
	text-align: center;
}

.carpeta .seccion-archivo .archivo:hover {
	filter: hue-rotate(158deg);
}

.carpeta .seccion-archivo .archivo a {
	text-decoration: none;
}

.carpeta .seccion-archivo .archivo a img {
	width: 70px;
}

.carpeta .seccion-archivo .archivo p {
	color: #979797;
	font-size: 15px;
	text-align: center;
}

/*Cbu*/

.cbu {
	margin: auto;
	margin-top: 80px;
	width: 500px;
	border: 3px solid #0089E0;
	padding: 30px;
	border-radius: 20px;
}

.cbu p {
	color: #0089E0;
	font-size: 20px;
	margin-top: 10px;
	font-weight: 500;
}